#login_img{
    margin-bottom: 10px;
}
.btn{
    margin-top: 10px;
}
.login-ui-row{
    margin-bottom: 5px;
}
.login-ui-elm{
    margin-right: 5px;
}

.row_1{
    display: inline-block;
}

.add_btn{

    margin-left: 30px;
    cursor: pointer;
}

.poniter{
    cursor: pointer;
}