<section class="content-header clearfix">
    <h1 class="pull-left">
        <i class="material-icons">dashboard</i> Applications |
        <small>Applications View</small>
    </h1>

    <!--<div class="pull-right add-btn-container">-->
        <!--<a href="#frontend/app/add_view"><i class="material-icons">add_box</i> Add New Application</a>-->
    <!--</div>-->
</section>

<!-- Main content -->
<section class="content">

    <div ng-repeat="x in appL" class="box-body">
        <div class="content-title">Application: {{title}}</div>
        <table class="table table-bordered" style="width:400px">
            <tr>
                <td>Code : </td>
                <td width="50%">{{appCode}}</td>
            </tr>
            <tr>
                <td>Enabled : </td>
                <td>{{appEnabled}}</td>
            </tr>
            <tr>
                <td>External : </td>
                <td>{{appExtrenal}}</td>
            </tr>
            <tr>
                <td>URL : </td>
                <td>{{url}}</td>
            </tr>
            <tr>
                <td>Scopes : </td>
                <td>{{scope}}</td>
            </tr>
            <tr>
                <td>Scopes : </td>
                <td>{{scope}}</td>
            </tr>
        </table>
    </div>

</section>