<section class="content-header clearfix">
    <h1 class="pull-left">
        <i class="material-icons">dashboard</i> User Info |
        <small>User Information</small>
    </h1>

    <!--<div class="pull-right add-btn-container">-->
    <!--<a href="#frontend/app/add_view"><i class="material-icons">add_box</i> Add New Application</a>-->
    <!--</div>-->
</section>

<!-- Main content -->
<section class="content">


</section>

