@(message: String, redirectUrl: String)

@main("Welcome to Play") {
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>KOUIM</b>TestApplication</a>
        </div>
            <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>

            @*<form action="../../index2.html" method="post">*@
                @*<div class="form-group has-feedback">*@
                    @*<input type="email" class="form-control" placeholder="Email">*@
                    @*<span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@
                @*</div>*@
                @*<div class="form-group has-feedback">*@
                    @*<input type="password" class="form-control" placeholder="Password">*@
                    @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
                @*</div>*@
                @*<div class="row">*@
                    @*<div class="col-xs-8">*@
                        @*<div class="checkbox icheck">*@
                            @*<label>*@
                                @*<input type="checkbox"> Remember Me*@
                            @*</label>*@
                        @*</div>*@
                    @*</div>*@
                        @*<!-- /.col -->*@
                    @*<div class="col-xs-4">*@
                        @*<button type="submit" class="btn btn-primary btn-block btn-flat">Sign In using KOUIM</button>*@
                    @*</div>*@
                        @*<!-- /.col -->*@
                @*</div>*@
            @*</form>*@

            <div class="social-auth-links text-center">
                @*<p>- OR -</p>*@
                <a href="@redirectUrl" class="">Sign in using
                    KOUIM</a>
                @*<a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using*@
                    @*Google+</a>*@
            </div>
                <!-- /.social-auth-links -->

            @*<a href="#">I forgot my password</a><br>*@
            @*<a href="register.html" class="text-center">Register a new membership</a>*@

        </div>
            <!-- /.login-box-body -->
    </div>
    @*<h2>Not Yet Authenticated</h2>*@
    @*<a href="@redirectUrl"><em><b>Log in with KOUIM!</b></em></a>*@
}
