@(title: String)

<!DOCTYPE html>
<html data-ng-app="ngKouimFronmtApp">
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KOUIM</title>
      <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, userFK-scalable=no" name="viewport">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/css/ripples.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.ng-notify/0.6.0/ng-notify.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/AdminLTE.min.css">
    <link rel="stylesheet" href="assets/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>
      <!--body class="hold-transition skin-blue sidebar-mini" -->
    <div class="wrapper">
      @*<header class="main-header">*@
      @*<!-- Logo -->*@
      @*<a href="#" class="logo">*@
      @*<!-- mini logo for sidebar mini 50x50 pixels -->*@
      @*<span class="logo-mini"><b>KOUIM</b></span>*@
      @*<!-- logo for regular state and mobile devices -->*@
      @*<span class="logo-lg"><b>KOUIM</b></span>*@
      @*</a>*@
      @*<!-- Header Navbar: style can be found in header.less -->*@
      @*<nav class="navbar navbar-static-top">*@
      @*<!-- Sidebar toggle button-->*@
      @*<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">*@
      @*<span class="sr-only">Toggle navigation</span>*@
      @*</a>*@

      @*<div class="navbar-custom-menu">*@
      @*<ul class="nav navbar-nav">*@

      @*<!-- Notifications: style can be found in dropdown.less -->*@

      @*<!-- User Account: style can be found in dropdown.less -->*@
      @*<li class="dropdown userFK userFK-menu">*@
      @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">*@
      @*<span class="fa fa-userFK"></span>*@
      @*<span class="hidden-xs">Alexander Pierce</span>*@
      @*</a>*@
      @*</li>*@
      @*<!-- Control Sidebar Toggle Button -->*@
      @*<li ng-controller="logoutCtrl">*@
      @*<li>*@
      @*<a href="#" data-toggle="control-sidebar" ng-click="logout()"><i class="fa fa-power-off"></i></a>*@
      @*<a href="#" data-toggle="control-sidebar"><i class="fa fa-power-off"></i></a>*@
      @*</li>*@
      @*</ul>*@
      @*</div>*@
      @*</nav>*@
      @*</header>*@

      <header>
        <nav class="navbar navbar-info">
          <a class="navbar-brand" href="#"><img class="img-responsive"> </a>
          <ul class="nav navbar-nav pull-right user-menu">
            <li class="nav-item user-id" ng-controller="headerUserIdCtrl">
            </li>
            <li  class="nav-item user-id" ng-controller="logoutCtrl">
              <a class="nav-link" href="#">@title</a>
            </li>
          </ul>
        </nav>
      </header>

        <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" ng-view>
          <!-- Content Header (Page header) -->
          <!-- /.content -->
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.ng-notify/0.6.0/ng-notify.min.js"></script>
    <script language="javascript" type="text/javascript" src="assets/javascripts/material.js"></script>
    <script language="javascript" type="text/javascript" src="assets/javascripts/ripples.js"></script>
    <script language="javascript" type="text/javascript" src="assets/javascripts/app.js"></script>
</body>
</html>